.RecipeContent{
  background-image: url('../../imagenes/fondoCreate2.jpg');
  background-size:  cover;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
}


.contentCards{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 100px;
  margin-bottom: 50px;
}

.shadow{
  background: linear-gradient(to top, #000, #00000000);
  position: fixed;
  z-index: 300;
  bottom: 0;
  width: 100%;
  height: 100px;
}

@media only screen and (max-width: 920px){
  .RecipeContent{
    padding-top: 250px;
  }
  .contentCards{
    padding-top: 230px;
  }
}



/*=======================================*/
.cargando{
  /* background-color: red; */
  position: absolute;
  width: 100%;
  top: 200px;
  z-index: 300;
  text-align: center;
  height: 100px;
}
.icono{
  z-index: 400;
  width: 200px;
  height: 200px;
}
.race-by {
  --uib-size: 80px;
  --uib-speed: 1.4s;
  --uib-color: black;
  --uib-line-weight: 5px;

  margin: auto;
  z-index: 500;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--uib-line-weight);
  width: var(--uib-size);
  border-radius: calc(var(--uib-line-weight) / 2);
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.race-by::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--uib-color);
  opacity: 0.1;
}

.race-by::after {
  content: '';
  height: 100%;
  width: 100%;
  border-radius: calc(var(--uib-line-weight) / 2);
  animation: raceBy var(--uib-speed) ease-in-out infinite;
  transform: translateX(-100%);
  background-color: var(--uib-color);
}

@keyframes raceBy {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.SinRecetas{
  background-color: #0000008c;
  color: #fff;
  padding: 5%;
  border-radius: 5px;
  margin-top: 13%;
  z-index: 500;
}